.footer {
  background-color: #05a0e8 ;
  
  width: 100%;
   margin-top: inherit;
   padding-right: 15px;
  padding-left: 15px;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px; 
  
  

}

.footer-row{
  width: 90%;
  margin: 0%;
  
}

.social-links {
  display: flex;
  gap: 10px;
  text-align: center;
  margin-right: 20px; 
  justify-content: center;
  align-items: center;

}

.social-links a {
  
  font-size: 18px;
  display: inline-block;
  background: #05529aeb;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  
}

.copyright {
  font-size: 25px;
  margin-right: auto !important;
  text-align: center !important;
  color: #444444;
  line-height: 3.2em !important;
  font-weight: bold;
  
}


.btn a {
  text-decoration: none;

} 