.navbar{
    background-color: #05a0e8 ;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    position: sticky;
     z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    top: 0;
    border-bottom: solid 1px black;
    opacity: 0.9;
    top: 0;
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
      -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
      12px 0 15px -4px rgba(31, 73, 125, 0.8),
      -12px 0 15px -4px rgba(31, 73, 125, 0.8);
    
    }
    
    .nav-link{
        color:#05529aeb
    }
    .navbar1{
        background-color: rgb(230, 230, 230);
        padding: 10px;
    
    }

    
   