.heading {
    position: relative;
    padding: 15px 0;
    margin-top: -14px;
    margin-bottom: 0.5rem;
    font-size: 2.7rem;
  }
  .hed{
      margin-top: 10px;
      padding-left: 20px;
  }
  .line{
      width: 100px;
      height: 2px;
      bottom: 0;
      background: linear-gradient(to right,#05a0e8,#05529a,#000000);
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 15px;
  }
  
  .para{
      padding-bottom: 15px;
  }
  
  .row-services {
    display: inline-flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    padding-left: 10px;
    margin-top: 25px;
    width: 100%;
    
  }
  
  .services{
    width: 50%;
    margin-top: 0 !important;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33.333333%;
  }
  .services div {
    width: 385px;
  }
  
  .icon{
      float: left;
      color: #05a0e8;
     
  }
  
  .title{
      margin-left: 50px;
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 18px;
      letter-spacing: 1px;
      color: #000;
      font-size: 30px;
  }
  
  .cont{
      margin-left: 50px;
      line-height: 24px;
      
      letter-spacing: 1px;
      margin-bottom: 1rem;
      color: #000;
  }
  
  @media (max-width: 980px){
  
    .row-services {
        display: inline-flex;
        flex-wrap: wrap;
      
        
      }
      .cont{
        margin-left: 50px;
        line-height: 24px;
        font-size: 10px;
        letter-spacing: 1px;
        margin-bottom: 1rem;
        color: #000;
    }
      /* .services{
        width: 50% !important;
      } */
  
  }
  
  
  @media (max-width: 480px){
  
    .row-services {
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: column;
      
    }
    .services{
      width: 100%;
    }
    .services div {
      width: 340px;
    }
    .para{
      font-size: 5px;
      font-style: italic;
    }
    .cont{
      margin-left: 10px;
      line-height: 24px;
      font-size: 10px;
      letter-spacing: 1px;
      margin-bottom: 1rem;
      color: #000;
  }
    
  
  }
  .cont{
    font-size: 20px;
  }
  .para{
    font-size: 30px;
    font-style: italic;
  }
  